---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Domingo 💖"
	description="El final del fin de semana juntos"
	pubDate={new Date('Mayo 31 2026')}
>

	<p>
		El domingo nos iremos antes de las 12, sin prisas, disfrutando del último momento del fin de semana.
	</p>

	<p>
		Con un poco de suerte, comeremos con Ferxu y Carmenxu y cerraremos el viaje de la mejor forma posible.
	</p>

	<p>
		Ha sido un finde especial en Potes, entre la ruta de la Cruz de la Viorna, la Cascada Grande y la Cascada de Retumbia, y el momento de relax en el spa.
	</p>

	<p>
		Y aunque todo termina, lo importante no es el final… sino todo lo que hemos vivido juntos 💖
	</p>

	<img
	src="/2.jpeg"
	alt="Momento de siesta"
	style="width:100%; border-radius:12px; margin-top:10px;"
/>

Los gorditos más felices.

</Layout>